<h2>Delete Operation</h2>

<div class="container">
    <form (ngSubmit)="onDelete()">
        <div class="form-group">
            <label for="productId">Product ID</label>
            <input
              type="text"
              class="form-control"
              id=""
              [(ngModel)]="id"
              #productId = "ngModel"
              name="id"
            />
          </div>
      <div class="form-group">
        <button class="btn btn-success" type="submit">Delete</button>
      </div>
    </form>
</div>
