<h3>Create a Product - FormBuilder</h3>
<div class="container">
  <form [formGroup]="productForm" (ngSubmit)="onSubmit()">
    <label for=""
      >ProductId
      <input type="text" formControlName="productid" />
    </label>

    <label for=""
      >Brand
      <input type="text" formControlName="brand" />
    </label>
    <div formGroupName="description">
      <label for=""> Age: <input type="text" formControlName="age" /> </label>
      <label for="">
        Seasons: <input type="text" formControlName="seasons" />
      </label>
    </div>
    <label for="qty"
      >Quantity
      <input type="text" formControlName="qty" />
    </label>

    <label for=""
      >Price
      <input type="text" formControlName="price" />
    </label>
    <div formArrayName="suppliers">
      <label for="">Suppliers</label>
      <button (click)="addNewSupplier()">Add New Supplier</button>

      <div *ngFor="let supplier of suppliers.controls; let i = index">
        <label for=""
          >New Supplier:
          <input type="text" [formControlName]="i" />
        </label>
      </div>
    </div>

    <button type="submit" [disabled]="!productForm.valid">Submit</button>
  </form>
</div>
