<p>Token works!</p>

<h1>Creating login page for authentication</h1>
<form (ngSubmit)="authenticationSubmit()">
    <label>
        Username: 
        <input id="authenticationUsername" [(ngModel)]="token.username" name="username" required>
        <br>
        Password: 
        <input id="authenticationPwd" [(ngModel)]="token.password" name="password" type="password" required>
    </label>
    <br>
    <button type="submit">Authenticate</button>
    <button type="button" (click)="greet()">Greet</button>
    <button type="button" (click)="admin()">Admin</button>
</form>
